[Unit]
Description=Alacritty Floating Terminal Service
After=tmux.service
Requires=tmux.service

[Service]
Type=simple
ExecStart=/usr/bin/alacritty --class FloatTerminal -e tmux attach -t default
ExecReload=/bin/kill -1 -- $MAINPID
ExecStop=/bin/kill -- $MAINPID
KillMode=process
RestartSec=200ms
Restart=always

[Install]
WantedBy=default.target
